In [50]:
import requests
from bs4 import BeautifulSoup
import numpy as np
import pandas as pd
import datetime
from os.path import isfile

In [337]:
def get_url_resp(country="Worldwide"):
    base_url = "https://www.worldometers.info/coronavirus/"
    headers = {"User-Agent":"Mozilla/5.0 (Windows NT 10.0; Win64; x64; rv:74.0) Gecko/20100101 Firefox/74.0"}
    if country =="Worldwide":
        url = base_url
    else:
        url =base_url+"country/"+country+"/"
    response = requests.get(url, headers = headers)
    html = response.text
    return BeautifulSoup(html,"html.parser")

def format_case_numbers(soup,country="Worldwide"):
    if country == "Worldwide":
        soup_selector = soup.select(".col-md-6")
        val = [soup_selector[2].find_all(type="text/javascript")[0],soup_selector[3].find_all(type="text/javascript")[0]]
    else:
        soup_selector = soup.find_all("script")
        new_soup =[]
        for i in range(len(soup_selector)):
            if 'categories' in str(soup_selector[i]):
                new_soup.append(soup_selector[i])
        val = new_soup[:2]
    return val

def get_case_numbers_from_soup(val):#,country="Worldwide",status="Cases"):
    dates = val.get_text().rsplit("categories",1)[1].split("[")[1].split("]")[0]
    case_num = val.get_text().rsplit("data",1)[1].split("[")[1].split("]")[0]
    case_num_formatted=case_num.split(',')
    dates_formatted=dates.split(',')
    case_num_lst=[]
    date_lst = []
    # for lst in case_num_lst,date_lst:
    #     lst.append(country)
    #     lst.append(status)

    for i in range(len(case_num_formatted)):
        if case_num_formatted[i] == "null":
            case_num_input = 0
        else:
            case_num_input = int(case_num_formatted[i])
        case_num_lst.append(case_num_input)

    for i in dates_formatted:
        date_lst.append(i.replace('"',''))
    return zip(date_lst,case_num_lst)

def get_case_dictionary(country="Worldwide"):#,status="Cases"):
    soup = get_url_resp(country)
    val = format_case_numbers(soup,country)
    statuses_tuple = ("Cases","Deaths")
    statuses = {
        "Cases":0,
        "Deaths":1,
    }
    lst=[]
    for sta in statuses_tuple:
        lst.append(dict(get_case_numbers_from_soup(val[statuses[sta]])))
    return lst
    #return dict(get_case_numbers_from_soup(val[statuses[status]]))#,country,status)
    # return get_case_numbers_from_soup(val[statuses[status]],country,status)

In [339]:
Countries = ("Worldwide","US","Italy","China","Spain","Germany","France","UK","India","South-Korea")
statuses_tuple = ("Cases","Deaths")
lst=[[],[]]
for country in Countries:
    for sta in statuses_tuple:
        lst[0].append(country)
        lst[1].append(sta)
### WORKS TO HERE ###
# lst = [["Worldwide","US"],["Cases","Cases"]]

data=[]
for country in Countries:
    country_data=get_case_dictionary(country=country)
    print(country_data)
    data.extend(country_data)
print(data)

[['Worldwide', 'Worldwide', 'US', 'US', 'Italy', 'Italy', 'China', 'China', 'Spain', 'Spain', 'Germany', 'Germany', 'France', 'France', 'UK', 'UK', 'India', 'India', 'South-Korea', 'South-Korea'], ['Cases', 'Deaths', 'Cases', 'Deaths', 'Cases', 'Deaths', 'Cases', 'Deaths', 'Cases', 'Deaths', 'Cases', 'Deaths', 'Cases', 'Deaths', 'Cases', 'Deaths', 'Cases', 'Deaths', 'Cases', 'Deaths']]
[{'Jan 22': 580, 'Jan 23': 845, 'Jan 24': 1317, 'Jan 25': 2015, 'Jan 26': 2800, 'Jan 27': 4581, 'Jan 28': 6058, 'Jan 29': 7813, 'Jan 30': 9823, 'Jan 31': 11950, 'Feb 01': 14553, 'Feb 02': 17391, 'Feb 03': 20630, 'Feb 04': 24545, 'Feb 05': 28266, 'Feb 06': 31439, 'Feb 07': 34876, 'Feb 08': 37552, 'Feb 09': 40553, 'Feb 10': 43099, 'Feb 11': 45134, 'Feb 12': 59287, 'Feb 13': 64438, 'Feb 14': 67100, 'Feb 15': 69197, 'Feb 16': 71329, 'Feb 17': 73332, 'Feb 18': 75184, 'Feb 19': 75700, 'Feb 20': 76677, 'Feb 21': 77673, 'Feb 22': 78651, 'Feb 23': 79205, 'Feb 24': 80087, 'Feb 25': 80828, 'Feb 26': 81820, 'Feb 27': 83112, 'Feb 28': 84615, 'Feb 29': 86604, 'Mar 01': 88585, 'Mar 02': 90443, 'Mar 03': 93016, 'Mar 04': 95314, 'Mar 05': 98425, 'Mar 06': 102050, 'Mar 07': 106099, 'Mar 08': 109991, 'Mar 09': 114381, 'Mar 10': 118948, 'Mar 11': 126214, 'Mar 12': 134509, 'Mar 13': 145416, 'Mar 14': 156475, 'Mar 15': 169517, 'Mar 16': 182414, 'Mar 17': 198159, 'Mar 18': 218744, 'Mar 19': 244902, 'Mar 20': 275550, 'Mar 21': 304979, 'Mar 22': 337459, 'Mar 23': 378830, 'Mar 24': 422574, 'Mar 25': 471035, 'Mar 26': 531865, 'Mar 27': 596366, 'Mar 28': 663127}, {'Jan 22': 17, 'Jan 23': 25, 'Jan 24': 41, 'Jan 25': 56, 'Jan 26': 80, 'Jan 27': 106, 'Jan 28': 132, 'Jan 29': 170, 'Jan 30': 213, 'Jan 31': 259, 'Feb 01': 304, 'Feb 02': 362, 'Feb 03': 426, 'Feb 04': 492, 'Feb 05': 565, 'Feb 06': 638, 'Feb 07': 724, 'Feb 08': 813, 'Feb 09': 910, 'Feb 10': 1018, 'Feb 11': 1115, 'Feb 12': 1261, 'Feb 13': 1383, 'Feb 14': 1526, 'Feb 15': 1669, 'Feb 16': 1775, 'Feb 17': 1873, 'Feb 18': 2009, 'Feb 19': 2126, 'Feb 20': 2247, 'Feb 21': 2360, 'Feb 22': 2460, 'Feb 23': 2618, 'Feb 24': 2699, 'Feb 25': 2763, 'Feb 26': 2800, 'Feb 27': 2858, 'Feb 28': 2923, 'Feb 29': 2977, 'Mar 01': 3050, 'Mar 02': 3117, 'Mar 03': 3202, 'Mar 04': 3285, 'Mar 05': 3387, 'Mar 06': 3494, 'Mar 07': 3599, 'Mar 08': 3827, 'Mar 09': 4025, 'Mar 10': 4296, 'Mar 11': 4628, 'Mar 12': 4981, 'Mar 13': 5428, 'Mar 14': 5833, 'Mar 15': 6520, 'Mar 16': 7162, 'Mar 17': 7979, 'Mar 18': 8951, 'Mar 19': 10030, 'Mar 20': 11386, 'Mar 21': 13011, 'Mar 22': 14640, 'Mar 23': 16513, 'Mar 24': 18894, 'Mar 25': 21282, 'Mar 26': 24073, 'Mar 27': 27343, 'Mar 28': 30861}]
[{'Feb 15': 15, 'Feb 16': 15, 'Feb 17': 15, 'Feb 18': 15, 'Feb 19': 15, 'Feb 20': 15, 'Feb 21': 35, 'Feb 22': 35, 'Feb 23': 35, 'Feb 24': 53, 'Feb 25': 57, 'Feb 26': 60, 'Feb 27': 60, 'Feb 28': 63, 'Feb 29': 68, 'Mar 01': 75, 'Mar 02': 100, 'Mar 03': 124, 'Mar 04': 158, 'Mar 05': 221, 'Mar 06': 319, 'Mar 07': 435, 'Mar 08': 541, 'Mar 09': 704, 'Mar 10': 994, 'Mar 11': 1301, 'Mar 12': 1630, 'Mar 13': 2183, 'Mar 14': 2770, 'Mar 15': 3613, 'Mar 16': 4596, 'Mar 17': 6344, 'Mar 18': 9197, 'Mar 19': 13779, 'Mar 20': 19367, 'Mar 21': 24192, 'Mar 22': 33592, 'Mar 23': 43781, 'Mar 24': 54856, 'Mar 25': 68211, 'Mar 26': 85435, 'Mar 27': 104126, 'Mar 28': 123578}, {'Feb 15': 0, 'Feb 16': 0, 'Feb 17': 0, 'Feb 18': 0, 'Feb 19': 0, 'Feb 20': 0, 'Feb 21': 20, 'Feb 22': 0, 'Feb 23': 0, 'Feb 24': 18, 'Feb 25': 4, 'Feb 26': 3, 'Feb 27': 0, 'Feb 28': 3, 'Feb 29': 5, 'Mar 01': 7, 'Mar 02': 25, 'Mar 03': 24, 'Mar 04': 34, 'Mar 05': 63, 'Mar 06': 98, 'Mar 07': 116, 'Mar 08': 106, 'Mar 09': 163, 'Mar 10': 290, 'Mar 11': 307, 'Mar 12': 329, 'Mar 13': 553, 'Mar 14': 587, 'Mar 15': 843, 'Mar 16': 983, 'Mar 17': 1748, 'Mar 18': 2853, 'Mar 19': 4582, 'Mar 20': 5588, 'Mar 21': 4825, 'Mar 22': 9400, 'Mar 23': 10189, 'Mar 24': 11075, 'Mar 25': 13355, 'Mar 26': 17224, 'Mar 27': 18691, 'Mar 28': 19452}]

ValueError: invalid literal for int() with base 10: '"nan"'

In [325]:
tuples = list(zip(*lst))
index = pd.MultiIndex.from_tuples(tuples)
cols = list(data[0].keys())
data_types = {val:pd.Int64Dtype() for val in cols}

In [327]:
df=pd.DataFrame(data, index=index, columns=cols)#,dtype=data_types)
df

,,Jan 22,Jan 23,Jan 24,Jan 25,Jan 26,Jan 27,Jan 28,Jan 29,Jan 30,Jan 31,...,Mar 19,Mar 20,Mar 21,Mar 22,Mar 23,Mar 24,Mar 25,Mar 26,Mar 27,Mar 28
Worldwide,Cases,580.0,845.0,1317.0,2015.0,2800.0,4581.0,6058.0,7813.0,9823.0,11950.0,...,244902,275550,304979,337459,378830,422574,471035,531865,596366,663127
US,Cases,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,13779,19367,24192,33592,43781,54856,68211,85435,104126,123578