In [19]:
import requests
from bs4 import BeautifulSoup
import numpy as np
import pandas as pd
import datetime
from os.path import isfile

In [20]:
filename="hourly cases.csv"
df_head=pd.read_csv(filename,nrows=0)
df_head_lst = list(df_head)[2:]
data_types = {val:pd.Int64Dtype() for val in df_head_lst}

In [21]:
df = pd.read_csv(filename,index_col=[0,1],dtype=data_types)
df

6202               56202
            Deaths                    403                 403
            Recovered                6658                6658
India       Cases                    <NA>                <NA>
            Deaths                   <NA>                <NA>
            Recovered                <NA>                <NA>
Italy       Cases                   92472               92472
            Deaths                  10023               10023
            Recovered               12384               12384
South-Korea Cases                    <NA>                <NA>
            Deaths                   <NA>                <NA>
            Recovered                <NA>                <NA>
Spain       Cases                   72248               72248
            Deaths                   5812                5812
            Recovered               12285               12285
UK          Cases                   17089               17089
            Deaths                   1019                1019
            Recovered                 135                 135
US          Cases                  116050              116448
            Deaths                   1937                1943
            Recovered                3224                3224
Worldwide   Cases                  645264              650926
            Deaths                  29957               30299
            Recovered              139550              139555

                       2020-03-28 8pm GMT  2020-03-28 9pm GMT  \
China       Cases                   81394               81394
            Deaths                   3295                3295
            Recovered               74971               74971
France      Cases                   37575               37575
            Deaths                   2314                2314
            Recovered                5700                5700
Germany     Cases                   57695               57695
            Deaths                    430                 430
            Recovered                8481                8481
India       Cases                     933                 933
            Deaths                     20                  20
            Recovered                  84                  84
Italy       Cases                   92472               92472
            Deaths                  10023               10023
            Recovered               12384               12384
South-Korea Cases                    9478                9478
            Deaths                    144                 144
            Recovered                4811                4811
Spain       Cases                   72248               72335
            Deaths                   5812                5820
            Recovered               12285               12285
UK          Cases                   17089               17089
            Deaths                   1019                1019
            Recovered                 135                 135
US          Cases                  119609              120076
            Deaths                   1988                1993
            Recovered                3224                3229
Worldwide   Cases                  656690              657915
            Deaths                  30398               30433
            Recovered              141414              141419

                       2020-03-28 10pm GMT  2020-03-28 11pm GMT  \
China       Cases                    81394                81394
            Deaths                    3295                 3295
            Recovered                74971                74971
France      Cases                    37575                37575
            Deaths                    2314                 2314
            Recovered                 5700                 5700
Germany     Cases                    57695                57695
            Deaths                     433                  433
            Recovered                 8481                 8481
India       Cases                      987                  987
            Deaths                      24                   24
            Recovered                   84                   84
Italy       Cases                    92472                92472
            Deaths                   10023                10023
            Recovered                12384                12384
South-Korea Cases                     9478                 9478
            Deaths                     144                  144
            Recovered                 4811                 4811
Spain       Cases                    73232                73235
            Deaths                    5982                 5982
            Recovered                12285                12285
UK          Cases                    17089                17089
            Deaths                    1019                 1019
            Recovered                  135                  135
US          Cases                   120529               122246
            Deaths                    2008                 2047
            Recovered                 3229                 3231
Worldwide   Cases                   659435               661367
            Deaths                   30627                30671
            Recovered               141420               141464

                       2020-03-29 12am GMT  2020-03-29 3am GMT  \
China       Cases                    81439               81439
            Deaths                    3300                3300
            Recovered                75448               75448
France      Cases                    37575               37575
            Deaths                    2314                2314
            Recovered                 5700                5700
Germany     Cases                    57695               57695
            Deaths                     433                 433
            Recovered                 8481                8481
India       Cases                      987                 987
            Deaths                      24                  24
            Recovered                   84                  84
Italy       Cases                    92472               92472
            Deaths                   10023               10023
            Recovered                12384               12384
South-Korea Cases                     9478                9583
            Deaths                     144                 152
            Recovered                 4811                5033
Spain       Cases                    73235               73235
            Deaths                    5982                5982
            Recovered                12285               12285
UK          Cases                    17089               17089
            Deaths                    1019                1019
            Recovered                  135                 135
US          Cases                   123313              123750
            Deaths                    2211                2227
            Recovered                 3231                3231
Worldwide   Cases                   662674              663740
            Deaths                   30846               30879
            Recovered               141945              142183

                       2020-03-29 7am GMT  2020-03-29 8am GMT  ...  \
China       Cases                   81439               81439  ...
            Deaths                   3300                3300  ...
            Recovered               75448               75448  ...
France      Cases                   37575               37575  ...
            Deaths                   2314                2314  ...
            Recovered                5700                5700  ...
Germany     Cases                   57695               57695  ...
            Deaths                    433                 433  ...
            Recovered                8481                8481  ...
India       Cases                     987                 987  ...
            Deaths                     25                  25  ...
            Recovered                  87                  87  ...
Italy       Cases                   92472               92472  ...
            Deaths                  10023               10023  ...
            Recovered               12384               12384  ...
South-Korea Cases                    9583                9583  ...
            Deaths                    152                 152  ...
            Recovered                5033                5033  ...
Spain       Cases                   73235               73235  ...
            Deaths                   5982                5982  ...
            Recovered               12285               12285  ...
UK          Cases                   17089               17089  ...
            Deaths                   1019                1019  ...
            Recovered                 135                 135  ...
US          Cases                  123776              123776  ...
            Deaths                   2229                2229  ...
            Recovered                3231                3231  ...
Worldwide   Cases                  664621              664941  ...
            Deaths                  30891               30896  ...
            Recovered              142368              142449  ...

                       2020-03-29 6pm GMT  2020-03-29 7pm GMT  \
China       Cases                   81439               81439
            Deaths                   3300                3300
            Recovered               75448               75448
France      Cases                   40174               40174
            Deaths                   2606                2606
            Recovered                7202                7202
Germany     Cases                   60659               61164
            Deaths                    482                 490
            Recovered                9211                9211
India       Cases                    1024                1024
            Deaths                     27                  27
            Recovered                  95                  95
Italy       Cases                   97689               97689
            Deaths                  10779               10779
            Recovered               13030               13030
South-Korea Cases                    9583                9583
            Deaths                    152                 152
            Recovered                5033                5033
Spain       Cases                   78799               78799
            Deaths                   6606                6606
            Recovered               14709               14709
UK          Cases                   19522               19522
            Deaths                   1228                1228
            Recovered                 135                 135
US          Cases                  133146              136785
            Deaths                   2363                2413
            Recovered                4378                4430
Worldwide   Cases                  707926              712995
            Deaths                  33529               33599
            Recovered              150734              150881

                       2020-03-29 8pm GMT  2020-03-29 9pm GMT  \
China       Cases                   81439               81439
            Deaths                   3300                3300
            Recovered               75448               75448
France      Cases                   40174               40174
            Deaths                   2606                2606
            Recovered                7202                7202
Germany     Cases                   61164               62095
            Deaths                    490                 525
            Recovered                9211                9211
India       Cases                    1024                1024
            Deaths                     27                  27
            Recovered                  95                  95
Italy       Cases                   97689               97689
            Deaths                  10779               10779
            Recovered               13030               13030
South-Korea Cases                    9583                9583
            Deaths                    152                 152
            Recovered                5033                5033
Spain       Cases                   78898               80031
            Deaths                   6618                6802
            Recovered               14709               14709
UK          Cases                   19522               19522
            Deaths                   1228                1228
            Recovered                 135                 135
US          Cases                  138774              139217
            Deaths                   2438                2445
            Recovered                4432                4435
Worldwide   Cases                  715083              717976
            Deaths                  33636               33883
            Recovered              150883              150914

                       2020-03-29 10pm GMT  2020-03-29 11pm GMT  \
China       Cases                    81439                81439
            Deaths                    3300                 3300
            Recovered                75448                75448
France      Cases                    40174                40174
            Deaths                    2606                 2606
            Recovered                 7202                 7202
Germany     Cases                    62095                62095
            Deaths                     525                  525
            Recovered                 9211                 9211
India       Cases                     1024                 1024
            Deaths                      27                   27
            Recovered                   95                   95
Italy       Cases                    97689                97689
            Deaths                   10779                10779
            Recovered                13030                13030
South-Korea Cases                     9583                 9583
            Deaths                     152                  152
            Recovered                 5033                 5033
Spain       Cases                    80031                80110
            Deaths                    6802                 6803
            Recovered                14709                14709
UK          Cases                    19522                19522
            Deaths                    1228                 1228
            Recovered                  135                  135
US          Cases                   139986               141125
            Deaths                    2454                 2458
            Recovered                 4435                 4435
Worldwide   Cases                   718897               720415
            Deaths                   33897                33908
            Recovered               150918               150918

                       2020-03-30 12am GMT  2020-03-30 1am GMT  \
China       Cases                    81439               81439
            Deaths                    3300                3300
            Recovered                75448               75448
France      Cases                    40174               40174
            Deaths                    2606                2606
            Recovered                 7202                7202
Germany     Cases                    62095               62095
            Deaths                     541                 541
            Recovered                 9211                9211
India       Cases                     1024                1024
            Deaths                      27                  27
            Recovered                   95                  95
Italy       Cases                    97689               97689
            Deaths                   10779               10779
            Recovered                13030               13030
South-Korea Cases                     9583                9583
            Deaths                     152                 152
            Recovered                 5033                5033
Spain       Cases                    80110               80110
            Deaths                    6803                6803
            Recovered                14709               14709
UK          Cases                    19522               19522
            Deaths                    1228                1228
            Recovered                  135                 135
US          Cases                   141812              141854
            Deaths                    2475                2475
            Recovered                 4435                4435
Worldwide   Cases                   721330              721412
            Deaths                   33956               33956
            Recovered               151004              151004

                       2020-03-30 2am GMT  2020-03-30 3am GMT
China       Cases                   81439               81470
            Deaths                   3300                3304
            Recovered               75448               75700
France      Cases                   40174               40174
            Deaths                   2606                2606
            Recovered                7202                7202
Germany     Cases                   62435               62435
            Deaths                    541                 541
            Recovered                9211                9211
India       Cases                    1024                1024
            Deaths                     27                  27
            Recovered                  95                  95
Italy       Cases                   97689               97689
            Deaths                  10779               10779
            Recovered               13030               13030
South-Korea Cases                    9583                9661
            Deaths                    152                 158
            Recovered                5033                5228
Spain       Cases                   80110               80110
            Deaths                   6803                6803
            Recovered               14709               14709
UK          Cases                   19522               19522
            Deaths                   1228                1228
            Recovered                 135                 135
US          Cases                  142004              142070
            Deaths                   2484                2484
            Recovered                4559                4559
Worldwide   Cases                  721903              722088
            Deaths                  33965               33976
            Recovered              151312              151766

[30 rows x 29 columns]

In [22]:
df.xs('Deaths',level=1)

,2020-03-28 6pm GMT,2020-03-28 7pm GMT,2020-03-28 8pm GMT,2020-03-28 9pm GMT,2020-03-28 10pm GMT,2020-03-28 11pm GMT,2020-03-29 12am GMT,2020-03-29 3am GMT,2020-03-29 7am GMT,2020-03-29 8am GMT,...,2020-03-29 6pm GMT,2020-03-29 7pm GMT,2020-03-29 8pm GMT,2020-03-29 9pm GMT,2020-03-29 10pm GMT,2020-03-29 11pm GMT,2020-03-30 12am GMT,2020-03-30 1am GMT,2020-03-30 2am GMT,2020-03-30 3am GMT
China,3295,3295,3295,3295,3295,3295,3300,3300,3300,3300,...,3300,3300,3300,3300,3300,3300,3300,3300,3300,3304
France,1995,2314,2314,2314,2314,2314,2314,2314,2314,2314,...,2606,2606,2606,2606,2606,2606,2606,2606,2606,2606
Germany,403,403,430,430,433,433,433,433,433,433,...,482,490,490,525,525,525,541,541,541,541
India,<NA>,<NA>,20,20,24,24,24,24,25,25,...,27,27,27,27,27,27,27,27,27,27
Italy,10023,10023,10023,10023,10023,10023,10023,10023,10023,10023,...,10779,10779,10779,10779,10779,10779,10779,10779,10779,10779
South-Korea,<NA>,<NA>,144,144,144,144,144,152,152,152,...,152,152,152,152,152,152,152,152,152,158
Spain,5812,5812,5812,5820,5982,5982,5982,5982,5982,5982,...,6606,6606,6618,6802,6802,6803,6803,6803,6803,6803
UK,1019,1019,1019,1019,1019,1019,1019,1019,1019,1019,...,1228,1228,1228,1228,1228,1228,1228,1228,1228,1228
US,1937,1943,1988,1993,2008,2047,2211,2227,2229,2229,...,2363,2413,2438,2445,2454,2458,2475,2475,2484,2484
Worldwide,29957,30299,30398,30433,30627,30671,30846,30879,30891,30896,...,33529,33599,33636,33883,33897,33908,33956,33956,33965,33976