In [43]:
import requests
from bs4 import BeautifulSoup
import numpy as np
import pandas as pd
import datetime
from os.path import isfile

In [57]:
filename="cases.csv"
df_head=pd.read_csv(filename,nrows=0)
df_head_lst = list(df_head)[2:]
data_types = {val:pd.Int64Dtype() for val in df_head_lst}

In [58]:

df = pd.read_csv(filename,index_col=[0,1],dtype=data_types)

In [59]:
df.xs('Deaths',level=1)

,2020-03-28 6pm GMT,2020-03-28 7pm GMT,2020-03-28 8pm GMT,2020-03-28 9pm GMT,2020-03-28 10pm GMT,2020-03-28 11pm GMT,2020-03-29 12am GMT,2020-03-29 3am GMT,2020-03-29 7am GMT,2020-03-29 8am GMT,2020-03-29 9am GMT,2020-03-29 10am GMT,2020-03-29 11am GMT,2020-03-29 12pm GMT,2020-03-29 1pm GMT,2020-03-29 2pm GMT,2020-03-29 3pm GMT
China,3295,3295,3295,3295,3295,3295,3300,3300,3300,3300,3300,3300,3300,3300,3300,3300,3300
France,1995,2314,2314,2314,2314,2314,2314,2314,2314,2314,2314,2314,2314,2314,2314,2314,2314
Germany,403,403,430,430,433,433,433,433,433,433,455,455,455,455,455,455,455
India,<NA>,<NA>,20,20,24,24,24,24,25,25,25,25,25,25,25,25,25
Italy,10023,10023,10023,10023,10023,10023,10023,10023,10023,10023,10023,10023,10023,10023,10023,10023,10023
South-Korea,<NA>,<NA>,144,144,144,144,144,152,152,152,152,152,152,152,152,152,152
Spain,5812,5812,5812,5820,5982,5982,5982,5982,5982,5982,5982,5982,6528,6528,6528,6528,6528
UK,1019,1019,1019,1019,1019,1019,1019,1019,1019,1019,1019,1019,1019,1019,1019,1235,1228
US,1937,1943,1988,1993,2008,2047,2211,2227,2229,2229,2229,2229,2229,2229,2229,2231,2236
Worldwide,29957,30299,30398,30433,30627,30671,30846,30879,30891,30896,30935,31065,31737,31771,31920,32155,32180

In [60]:
df

                       2020-03-28 6pm GMT  2020-03-28 7pm GMT  \
China       Cases                   81394               81394
            Deaths                   3295                3295
            Recovered               74971               74971
France      Cases                   32964               37575
            Deaths                   1995                2314
            Recovered                5700                5700
Germany     Cases                   56202               56202
            Deaths                    403                 403
            Recovered                6658                6658
India       Cases                    <NA>                <NA>
            Deaths                   <NA>                <NA>
            Recovered                <NA>                <NA>
Italy       Cases                   92472               92472
            Deaths                  10023               10023
            Recovered               12384               12384
South-Korea Cases                    <NA>                <NA>
            Deaths                   <NA>                <NA>
            Recovered                <NA>                <NA>
Spain       Cases                   72248               72248
            Deaths                   5812                5812
            Recovered               12285               12285
UK          Cases                   17089               17089
            Deaths                   1019                1019
            Recovered                 135                 135
US          Cases                  116050              116448
            Deaths                   1937                1943
            Recovered                3224                3224
Worldwide   Cases                  645264              650926
            Deaths                  29957               30299
            Recovered              139550              139555

                       2020-03-28 8pm GMT  2020-03-28 9pm GMT  \
China       Cases                   81394               81394
            Deaths                   3295                3295
            Recovered               74971               74971
France      Cases                   37575               37575
            Deaths                   2314                2314
            Recovered                5700                5700
Germany     Cases                   57695               57695
            Deaths                    430                 430
            Recovered                8481                8481
India       Cases                     933                 933
            Deaths                     20                  20
            Recovered                  84                  84
Italy       Cases                   92472               92472
            Deaths                  10023               10023
            Recovered               12384               12384
South-Korea Cases                    9478                9478
            Deaths                    144                 144
            Recovered                4811                4811
Spain       Cases                   72248               72335
            Deaths                   5812                5820
            Recovered               12285               12285
UK          Cases                   17089               17089
            Deaths                   1019                1019
            Recovered                 135                 135
US          Cases                  119609              120076
            Deaths                   1988                1993
            Recovered                3224                3229
Worldwide   Cases                  656690              657915
            Deaths                  30398               30433
            Recovered              141414              141419

                       2020-03-28 10pm GMT  2020-03-28 11pm GMT  \
China       Cases                    81394                81394
            Deaths                    3295                 3295
            Recovered                74971                74971
France      Cases                    37575                37575
            Deaths                    2314                 2314
            Recovered                 5700                 5700
Germany     Cases                    57695                57695
            Deaths                     433                  433
            Recovered                 8481                 8481
India       Cases                      987                  987
            Deaths                      24                   24
            Recovered                   84                   84
Italy       Cases                    92472                92472
            Deaths                   10023                10023
            Recovered                12384                12384
South-Korea Cases                     9478                 9478
            Deaths                     144                  144
            Recovered                 4811                 4811
Spain       Cases                    73232                73235
            Deaths                    5982                 5982
            Recovered                12285                12285
UK          Cases                    17089                17089
            Deaths                    1019                 1019
            Recovered                  135                  135
US          Cases                   120529               122246
            Deaths                    2008                 2047
            Recovered                 3229                 3231
Worldwide   Cases                   659435               661367
            Deaths                   30627                30671
            Recovered               141420               141464

                       2020-03-29 12am GMT  2020-03-29 3am GMT  \
China       Cases                    81439               81439
            Deaths                    3300                3300
            Recovered                75448               75448
France      Cases                    37575               37575
            Deaths                    2314                2314
            Recovered                 5700                5700
Germany     Cases                    57695               57695
            Deaths                     433                 433
            Recovered                 8481                8481
India       Cases                      987                 987
            Deaths                      24                  24
            Recovered                   84                  84
Italy       Cases                    92472               92472
            Deaths                   10023               10023
            Recovered                12384               12384
South-Korea Cases                     9478                9583
            Deaths                     144                 152
            Recovered                 4811                5033
Spain       Cases                    73235               73235
            Deaths                    5982                5982
            Recovered                12285               12285
UK          Cases                    17089               17089
            Deaths                    1019                1019
            Recovered                  135                 135
US          Cases                   123313              123750
            Deaths                    2211                2227
            Recovered                 3231                3231
Worldwide   Cases                   662674              663740
            Deaths                   30846               30879
            Recovered               141945              142183

                       2020-03-29 7am GMT  2020-03-29 8am GMT  \
China       Cases                   81439               81439
            Deaths                   3300                3300
            Recovered               75448               75448
France      Cases                   37575               37575
            Deaths                   2314                2314
            Recovered                5700                5700
Germany     Cases                   57695               57695
            Deaths                    433                 433
            Recovered                8481                8481
India       Cases                     987                 987
            Deaths                     25                  25
            Recovered                  87                  87
Italy       Cases                   92472               92472
            Deaths                  10023               10023
            Recovered               12384               12384
South-Korea Cases                    9583                9583
            Deaths                    152                 152
            Recovered                5033                5033
Spain       Cases                   73235               73235
            Deaths                   5982                5982
            Recovered               12285               12285
UK          Cases                   17089               17089
            Deaths                   1019                1019
            Recovered                 135                 135
US          Cases                  123776              123776
            Deaths                   2229                2229
            Recovered                3231                3231
Worldwide   Cases                  664621              664941
            Deaths                  30891               30896
            Recovered              142368              142449

                       2020-03-29 9am GMT  2020-03-29 10am GMT  \
China       Cases                   81439                81439
            Deaths                   3300                 3300
            Recovered               75448                75448
France      Cases                   37575                37575
            Deaths                   2314                 2314
            Recovered                5700                 5700
Germany     Cases                   58247                58247
            Deaths                    455                  455
            Recovered                8481                 8481
India       Cases                     987                  987
            Deaths                     25                   25
            Recovered                  87                   87
Italy       Cases                   92472                92472
            Deaths                  10023                10023
            Recovered               12384                12384
South-Korea Cases                    9583                 9583
            Deaths                    152                  152
            Recovered                5033                 5033
Spain       Cases                   73235                73235
            Deaths                   5982                 5982
            Recovered               12285                12285
UK          Cases                   17089                17089
            Deaths                   1019                 1019
            Recovered                 135                  135
US          Cases                  123780               123781
            Deaths                   2229                 2229
            Recovered                3238                 3238
Worldwide   Cases                  666010               668705
            Deaths                  30935                31065
            Recovered              142479               143107

                       2020-03-29 11am GMT  2020-03-29 12pm GMT  \
China       Cases                    81439                81439
            Deaths                    3300                 3300
            Recovered                75448                75448
France      Cases                    37575                37575
            Deaths                    2314                 2314
            Recovered                 5700                 5700
Germany     Cases                    58247                58247
            Deaths                     455                  455
            Recovered                 8481                 8481
India       Cases                      987                  987
            Deaths                      25                   25
            Recovered                   87                   87
Italy       Cases                    92472                92472
            Deaths                   10023                10023
            Recovered                12384                12384
South-Korea Cases                     9583                 9583
            Deaths                     152                  152
            Recovered                 5033                 5033
Spain       Cases                    78797                78797
            Deaths                    6528                 6528
            Recovered                14709                14709
UK          Cases                    17089                17089
            Deaths                    1019                 1019
            Recovered                  135                  135
US          Cases                   123781               123781
            Deaths                    2229                 2229
            Recovered                 3238                 3238
Worldwide   Cases                   677705               678969
            Deaths                   31737                31771
            Recovered               146319               146345

                       2020-03-29 1pm GMT  2020-03-29 2pm GMT  \
China       Cases                   81439               81439
            Deaths                   3300                3300
            Recovered               75448               75448
France      Cases                   37575               37575
            Deaths                   2314                2314
            Recovered                5700                5700
Germany     Cases                   58247               58247
            Deaths                    455                 455
            Recovered                8481                8481
India       Cases                     987                 987
            Deaths                     25                  25
            Recovered                  87                  87
Italy       Cases                   92472               92472
            Deaths                  10023               10023
            Recovered               12384               12384
South-Korea Cases                    9583                9583
            Deaths                    152                 152
            Recovered                5033                5033
Spain       Cases                   78797               78797
            Deaths                   6528                6528
            Recovered               14709               14709
UK          Cases                   17089               19522
            Deaths                   1019                1235
            Recovered                 135                 135
US          Cases                  123781              123828
            Deaths                   2229                2231
            Recovered                3238                3238
Worldwide   Cases                  680696              683694
            Deaths                  31920               32155
            Recovered              146396              146396

                       2020-03-29 3pm GMT
China       Cases                   81439
            Deaths                   3300
            Recovered               75448
France      Cases                   37575
            Deaths                   2314
            Recovered                5700
Germany     Cases                   58247
            Deaths                    455
            Recovered                8481
India       Cases                     987
            Deaths                     25
            Recovered                  87
Italy       Cases                   92472
            Deaths                  10023
            Recovered               12384
South-Korea Cases                    9583
            Deaths                    152
            Recovered                5033
Spain       Cases                   78797
            Deaths                   6528
            Recovered               14709
UK          Cases                   19522
            Deaths                   1228
            Recovered                 135
US          Cases                  124356
            Deaths                   2236
            Recovered                3238
Worldwide   Cases                  684384
            Deaths                  32180
            Recovered              146400